{
    "tabWidth": 4,
    "arrowParens": "always",
    "bracketSameLine": true,
    "useTabs": false,
    "singleQuote": false,
    "printWidth": 120,
    "trailingComma": "all",
    "semi": true,
    "bracketSpacing": true,
    "htmlWhitespaceSensitivity": "ignore",
    "vueIndentScriptAndStyle": true,
    "singleAttributePerLine": true
}